.global-trackers {
	.accordions .accordion .accordionContent .trackers-list .tracker {
	  .menu {
	  	right: -$tracker-menu-item-width;
	  	width: $tracker-menu-item-width;

	  	.trackerOption {

	  		&.trust {
	  			display: none;
	  		}

	  		&.restrict {
	  			display: none;
	  		}
	  	}
	  }

	  &.show-menu {

	  	.menu {
	  		right: 0;
	  	}
	  }
	}
}
