.overview {
	padding-top: 20px;
	text-align: center;

	.trackers-chart {
		display: inline-block;
		width: 120px;
		max-width: 100%;
		position: relative;

		#circle {
			& > g {
				fill: none;
		    stroke-width: 28;
		     @include prefix('transform', 'translate(100px, 100px)');

		     .path {
					  stroke-dashoffset: 0;
					  stroke-dasharray: var(--stroke-length, 0);
					   @include prefix('animation', 'dash calc(var(--stroke-length, 0) * 1ms) linear alternate 1');

					  &[data-category='advertising'] {
					  	stroke: #cb55cd;
					  }

					  &[data-category='audio_video_player'] {
					  	stroke: #ef671e;
					  }

					  &[data-category='comments'] {
					  	stroke: #43b7c5;
					  }

					  &[data-category='customer_interaction'] {
					  	stroke: #fdc257;
					  }

					  &[data-category='essential'] {
					  	stroke: #fc9734;
					  }

					  &[data-category='pornvertising'] {
					  	stroke: #ecafc2;
					  }

					  &[data-category='site_analytics'] {
					  	stroke: #87d7ef;
					  }

					  &[data-category='social_media'] {
					  	stroke: #388ee8;
					  }

					  &[data-category='default'] {
					  	stroke: #e8e8e8;
					  }
					}
			}
		}

		.trackers-num {
			position: absolute;
  		top: 50%;
  		left: 50%;
		  @include prefix('transform', 'translate(-50%, -50%)');
		  text-align: center;

		  & > span {
		  	&:first-child {
		  		font-size: 24px;
		  		font-weight: 600;
		  	}

		  	&:last-child {
		  		font-size: 11px;
		  	}
		  }
		}
	}

	.buttons-wrapper {
		padding-top: 20px;

		.button {
			min-width: 180px;
			background-color: $white;
			border: 1px solid #ccc;

			& > span {
				padding-left: 20px;
				background-repeat: no-repeat;
				background-position: left center;
				color: $tundora;
			}

			&.changed {
				& > span {
					color: $white;
				}
			}

			&.trust-site-btn {

				& > span {
					background-image: buildIconTrust($button-dark-grey);
				}

				&.changed {
					background-color: #9ecc42;

					& > span {
						background-image: buildIconTrust($button-white);
					}
				}
			}

			&.restrict-site-btn {

				& > span {
					background-image: buildIconRestrict($button-dark-grey);
				}

				&.changed {
					background-color: #e74055;

					& > span {
						background-image: buildIconRestrict($button-white);
					}
				}
			}

			&.pause-resume-btn {

				& > span {
					background-image: buildIconPause($button-dark-grey);

					&:last-child {
						display: none;
					}
				}

				&.changed {
					background-color: $ghosty-blue;

					& > span {
						background-image: buildIconResume($button-dark-grey);

						&:first-child {
							display: none;
						}

						&:last-child {
							display: inline-block;
						}
					}
				}
			}
		}
	}

	&.paused {
		.trackers-chart, .trust-site-btn, .restrict-site-btn {
			opacity: 0.3;
		}
	}
}
