.overview {
	text-align: center;

	.trackers-chart {
		display: inline-block;
		width: 120px;
		max-width: 100%;
		position: relative;

		#circle {
			& > g {
				fill: none;
		    stroke-width: 28;
		     @include prefix('transform', 'translate(100px, 100px)');

		     .path {
					  stroke-dashoffset: 0;
					  stroke-dasharray: var(--stroke-length, 0);
					   @include prefix('animation', 'dash calc(var(--stroke-length, 0) * 1ms) linear alternate 1');

					  &[data-category='advertising'] {
					  	stroke: #cb55cd;
					  }

					  &[data-category='audio_video_player'] {
					  	stroke: #ef671e;
					  }

					  &[data-category='comments'] {
					  	stroke: #43b7c5;
					  }

					  &[data-category='customer_interaction'] {
					  	stroke: #fdc257;
					  }

					  &[data-category='essential'] {
					  	stroke: #fc9734;
					  }

					  &[data-category='pornvertising'] {
					  	stroke: #ecafc2;
					  }

					  &[data-category='site_analytics'] {
					  	stroke: #87d7ef;
					  }

					  &[data-category='social_media'] {
					  	stroke: #388ee8;
					  }

					  &[data-category='default'] {
					  	stroke: #e8e8e8;
					  }
					}
			}
		}

		.trackers-num {
			position: absolute;
  		top: 50%;
  		left: 50%;
		  @include prefix('transform', 'translate(-50%, -50%)');
		  text-align: center;

		  & > span {
		  	&:first-child {
		  		font-size: 24px;
		  		font-weight: 600;
		  	}

		  	&:last-child {
		  		font-size: 11px;
		  	}
		  }
		}
	}

	.fixed-menu {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 40px;
		background-color: #ccc;
		@include prefix('transition', 'height 250ms cubic-bezier(0.55, 0.09, 0.68, 0.53)');

		.menuHeader {
			background-color: yellow;
		}

		.menuContent {
			position: relative;
			margin: 0;
			list-style: none;
			height: 100%;

			.menuItem {

				.switcher {
					width: 20px;
					height: 5px;
					border-radius: 4px;
					background-color: $cliqz-blue;
				}

				.menuItemContent {
					position: absolute;
					top: 0;
					left: 100%;
					bottom: 0;
					width: 100%;
					@include prefix('transition', 'left 300ms ease-in');
					background-color: pink;

					.close {
						position: absolute;
						top: 0;
						right: 0;
					}

					&.opening {
						left: 0;
					}
				}
			}
		}

		&.opened {
			height: 180px;
		}
	}
}
