.accordions {
	.accordion {
		position: relative;

		.accordionSelect {
			position: absolute;
			top: 5px;
			right: 10px;
			border: 1px solid #ccc;
	  	width: 20px;
	  	height: 20px;
	  	background-color: #eee;

	  	&.blocked {
	  		border: none;
	  		background-image: url(../../app/images/panel/blocked.png);
	  		background-repeat: no-repeat;
	  		background-position: center;
	  	}

	  	&.mixed {
	  		border: none;
	  		background-color: blue;
	  	}
		}

		.accordionTitle {
			position: relative;
		  display: block;
		  cursor: pointer;
		  background-repeat: no-repeat;
		  background-size: 24px;
		  background-position: 5px 5px;
		  padding-left: 30px;

		  & > p {
		  	& > span {
		  		&.total-trackers {
		  			color: #aaa;
		  		}

		  		&.blocked-trackers {
		  			margin-left: 5px;
		  			color: red;
		  		}
		  	}
		  }

		  &:after {
		  	position: absolute;
		  	right: 14px;
		  	bottom: 10px;
        content:'⌃';
        display: inline-block;
        font-size: 16px;
        // transform: rotate(180deg);
        @include prefix('transform', 'scaleY(-1)'); // This may not work on IE
      	// -ms-filter: fliph; /*IE*/
    		// filter: fliph; /*IE*/
        @include prefix('transition', 'transform 200ms ease-in');
	    }

	    &.active {
	    	&:after {
	        transform: none;
		    }
	    }
		}

		.accordionContent {
		  overflow: hidden;
		  @include prefix('transition', 'height 300ms ease-in');
		  height: var(--trackers-length, 0px);

		  & > p {
		  	padding: 10px 10px 10px 15px;

		  	& > span {
		  		&:last-child {
		  			float: right;
		  		}
		  	}
		  }

		  .trackers-list {
		  	list-style: none;

		  	.tracker {
			  	position: relative;
			  	padding-left: 30px;
			  	@include prefix('transition', 'padding 300ms ease-in');

			  	.info {
			  		display: inline-block;
				  	width: 36px;
				  	height: 36px;
				  	float: left;
				  	background-image: url(../../app/images/panel/icon-information-tooltip.svg);
				  	background-repeat: no-repeat;
				  	background-position: center;
				  }

				  .trackerName {
				  	padding: 10px 0 10px 30px;
				  	font-style: italic;
				  }

				  .trackerSelect {
				  	position: absolute;
				  	top: 10px;
				  	right: 10px;
				  	border: 1px solid #ccc;
				  	width: 20px;
				  	height: 20px;
				  	background-repeat: no-repeat;
			  		background-position: center;

			  		&:before {
						  content: " ";
						  position: absolute;
						  top: 1px;
						  right: 1px;
						  width: 18px;
						  height: 18px;
						  border: 1px solid #fff;
						}
				  }

				  .menu {
				  	position: absolute;
				  	top: 0;
				  	right: calc(-3 * #{$tracker-menu-item-width});
				  	width: calc(3 * #{$tracker-menu-item-width});
				  	@include prefix('transition', 'right 300ms ease-in');
				  	height: 30px;
				  	z-index: 1;
				  	overflow: hidden;

				  	.trackerOption {
				  		height: 100%;
				  		width: $tracker-menu-item-width;

				  		&.trust {
				  			background-color: green;
				  		}

				  		&.restrict {
				  			background-color: red;
				  		}

				  		&.block {
				  			background-color: orange;
				  		}
				  	}
				  }

				  &.show-menu {
				  	padding-left: 10px;

				  	.menu {
				  		right: 0;
				  	}
				  }

				  &.blocked {

				  	.trackerName {
				  		text-decoration: line-through;
				  	}

				  	.trackerSelect {
				  		border: none;
				  		background-image: buildIconBlock($button-white);
				  		background-color: $button-block;
				  	}
				  }

				  &.trusted {

				  	.trackerSelect {
				  		border: none;
				  		background-image: buildIconTrust($button-white);
				  		background-color: $button-trust;
				  	}
				  }

				  &.restricted {

				  	.trackerSelect {
				  		border: none;
				  		background-image: buildIconRestrict($button-white);
				  		background-color: $button-restrict;
				  	}
				  }
			  }
		  }
		}

		&:not(:last-child) {
			border-bottom: 1px solid #ccc;
		}
	}
}
